-c requirements.txt
black==23.1.0
humanloop==0.3.3
jupyterlab==3.6.1
pip-tools==6.12.3
pre-commit==3.1.1
pylint==2.17.0
# ypy-websocket==0.8.2  # pinning a dependency of jupyterlab to avoid y-py version conflict
