django==4.1.7
django-object-actions==4.1.0
google-search-results==2.4.2  # TODO oleksandr: remove it before going to prod again ?
langchain==0.0.112
openai==0.27.2
python-dotenv==1.0.0
python-telegram-bot==20.1
tiktoken==0.3.1
uvicorn==0.21.0
whitenoise==6.4.0
